<div @attributes="Attributes">
    <ErrorBoundary @ref="_boundary">
        <ChildContent>
            @ChildContent
        </ChildContent>
        <ErrorContent Context="ex">
            <ExceptionView Exception="ex" OnResume="() => _boundary.Recover()"></ExceptionView>
        </ErrorContent>
    </ErrorBoundary>
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }

    [Parameter] public required RenderFragment ChildContent { get; set; }
    
    private ErrorBoundary _boundary = null!;
}