<div style="display: flex; flex-direction: column" class="child-div-align-center flex-grow-1">
    <MudText Style="font-size: 10pt">@Text</MudText>
    <MudTooltip Text="@Tooltip">
        <MudIcon Icon="@Icon" Color="@IconColor"/>
    </MudTooltip>
</div>

<style>
    .child-div-align-center > div {
        align-self: center;
    }
</style>